<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>add product</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/api/v1/users/products">Shop</a></li>
            <li class="navbar-item"><a class="active" href="/api/v1/admin/add-products">Add product</a></li>
        </ul>
    </nav>

    <main class="main">
        <h1>Products</h1>
        <p>List of all products</p>
    </main>

</body>
</html>