@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    color: white;

}

.navbar-list {
     
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: rgb(128, 0, 139);


}

.navbar-item {
    margin-left: 2rem;
    list-style: none;
}

.navbar-item a {
    text-decoration: none;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
}
.form-label {
    color:black;
}
.form-button {

    border: 1px solid rgb(128, 0, 139);
    background: rgb(128, 0, 139);
    color: white;
    padding: 0.7rem;
    border-radius: 10px;
    margin-top: 0.7rem;
}

